@charset "UTF-8";
/* すべての要素のmarginとpaddingを0に設定します */
* {
  margin: 0;/* 要素の外側の余白を0にする */
  padding: 0;/* 要素の内側の余白を0にする */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;/* フォントを指定する */
}

/* 全てのsection */

section {
  padding: 30px;
  min-width: 950px;/* 幅の最小値を指定する */
}


/* h2のclass title */

.title {
  font-size: 30px;/* フォントの大きさを指定する */
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;/* 文字・画像を中央にそろえる */
}


/* headerはここ */

header {
  text-align: center;
  background-image: url(img/bg_header.jpg);/* 背景画像を指定する */
  background-size: cover;/* 背景画像をボックスいっぱいに指定する */
  padding: 60px;
  min-width: 920px;
}

header h2 {
  color: #003377;/* フォントの色を指定する */
}


/* sectionのclass about */

.about {
  background-color: #eeeeee;/* 背景色を指定する */
  text-align: center;
}

.about h2 {
  color: #003377;
}

.about p {
  margin-bottom: 20px;
  text-align: left;
  max-width: 700px;/* 幅の最大値を指定する */
  margin: 20px auto;
}


/* sectionのclass photo */

.photo {
  background-color: #003377;
  color: #ffffff;
  text-align: center;
}

.photo h2 {
  color: #ffcc11;
}

.photo div {
  display: inline-block;/* 要素の表示形式を指定する */
  margin: 5px;
  border: 10px solid #ffffff;/* 枠線を指定する */
  background: #ffffff;
}


/* sectionのclass information */

.information {
  background-image: url(img/grass.jpg);
  background-size: cover;
}

.information h2 {
  color: #ffffff;
}

.information div {
  border: 8px solid #ffcc11;
  background-color: #ffffff;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-image: url(img/stripe.png);
}

.information h3 {
  color: #003377;
  font-size: 28px;
  text-align: center;
}

.information img {
  float: left;/* 要素の回り込みを指定する */
  margin-right: 20px;
}


/* footerはここ */

footer {
  text-align: center;
  color: #ffffff;
  background: #003377;
  padding: 10px 0;
}